:root{
    font-size: 16px;
    --img-width: 40vw;
    --img-padding: 2vw;
    --img-horizontal-margin: calc((100vw - var(--img-width) - 2 * var(--img-padding))/2);
    --contact-margin: 1rem;
    --contact-background: rgb(31,35, 38);
    --contact-background-hovered: rgb(51, 52, 56);
    --contact-border: 2px solid white;
    --hover-color: dodgerblue;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background: hsl(0,0%,87%);
}

a:visited {
    color: black;
}

a:hover {
    color: var(--hover-color);
}

cite {
    font-size: 1.2rem;
}

/*Index page specific styles*/

#img-div {
    background: white;
    padding: var(--img-padding);
    margin: 1vw var(--img-horizontal-margin);
}

#img-caption {
    padding-top: 0.5vw;
}

#image {
    max-width: 100%;
    width: var(--img-width);
    height: auto;
}

.text-list{
    line-height: 2;
    text-align: left;
    margin : 1vw calc((var(--img-horizontal-margin) + var(--img-padding)) / 2);
}

#books-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    row-gap: 2vw;
}

.fig-gallery {
    padding: 0.1rem;
    margin: 0.1rem 0.5rem;
    border: 2px solid darkgrey;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px grey;
    width: 10rem;
    height: 18rem;
    background: white;
}

#books-gallery a:link {
    text-decoration: none;
}

#books-gallery a:visited {
    text-decoration: none;
}

a:hover .fig-gallery {
    border-color: var(--hover-color);
    box-shadow: 0 2px 5px 1px blue;
}

.img-gallery {
    max-width: 100%;
    width: 100%;
    height: 85%;
}

.bottom-line {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

/*Content page specific styles*/

#contact-label {
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}

.contact-line {
    margin-bottom: 1rem;
}

#contact-block {
    border-radius: 1rem;
    border: var(--contact-border);
    box-shadow: 1px 3px 5px 5px grey;
    background: var(--contact-background);
    color: white;
    font-size: 1.1rem;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, minmax(1px, 1fr));
    grid-template-areas: "return"
                         "name-label"
                         "name"
                         "email-label"
                         "email"
                         "msg-label"
                         "msg"
                         "msg"
                         "msg"
                         "send"
                         "reset"
                         "links";

    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 1vw 0;
}

/*margin property works only with before*/
/*a.contact-link i:before {*/
/*    margin: 1vh 0;*/
/*}*/

a.contact-link i{
    font-size: 2rem;
    color: white;
}

a.contact-link i:hover {
    color: var(--hover-color);
}

.contact-input {
    justify-self: stretch;
    align-self: stretch;
    margin: 0 var(--contact-margin);
    background: var(--contact-background);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: var(--contact-border);
}

.contact-input:focus {
    background: var(--contact-background-hovered);
    border-color: var(--hover-color);
}

.contact-input:hover {
    border-color: var(--hover-color);
}

textarea {
    resize: none;
    overflow: auto;
}

label {
    justify-self: start;
    margin: 0.5rem var(--contact-margin);
}

#return {
    grid-area: return;
    justify-self: end;
    margin-right: var(--contact-margin);
}

label[for="contact-name"] {
    grid-area: name-label;
}

#contact-name {
    grid-area: name;
}

label[for="contact-email"] {
    grid-area: email-label;
}

#contact-email {
    grid-area: email;
}

label[for="contact-message"] {
    grid-area: msg-label;
}

#contact-message {
    grid-area: msg;
}

button[type="submit"] {
    grid-area: send;
    justify-self: stretch;
}

button[type="reset"] {
    grid-area: reset;
    justify-self: stretch;

}

#contact-links {
    grid-area: links;
    justify-self: start;
    display: flex;
    justify-content: flex-start;
}

#contact-links .contact-link {
    margin-right: calc(var(--contact-margin) * 0.5);
    margin-left: var(--contact-margin);
}

button {
    margin: 0 var(--contact-margin);
    border: var(--contact-border);
    background: transparent;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    height: 70%;
    padding: 0 2vw;
    cursor: pointer;
}

button:hover {
    background: var(--contact-background-hovered);
    border-color: var(--hover-color);
}

@media (min-width: 600px) {
    #contact-block {
        grid-template-columns: repeat(4, minmax(1px, 1fr));
        grid-template-rows: repeat(4, minmax(1px, 1fr)) 2fr 2fr repeat(2, minmax(1px, 1fr));
        grid-template-areas: ". . . return"
                         "name-label . email-label ."
                         "name name email email"
                         "msg-label . . ."
                         "msg msg msg msg"
                         "msg msg msg msg"
                         "send . . reset"
                         "links . . .";
    }

    button[type="submit"] {
        justify-self: start;
    }
    button[type="reset"] {
        justify-self: end;
    }
}
