:root{
    font-size: 16px;
    --contact-margin: 1rem;
    --contact-block-width: 50vw;
    --contact-background: rgb(31,35, 38);
    --contact-background-hovered: rgb(51, 52, 56);
    --contact-border: 2px solid white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: hsl(0,0%,87%);
    /*background: #eee;*/
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

cite {
    font-size: 1.2rem;
}

#img-div {
    background: white;
    padding: 2vw;
    margin: 1vw 28vw;
}

#img-caption {
    padding-top: 0.5vw;
}

#image {
    max-width: 100%;
    width: 40vw;
    height: auto;
}

.text-list{
    line-height: 2;
    text-align: left;
    margin : 1vw 15vw;
}

#books-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.fig-gallery {
    padding: 0.1rem;
    margin: 0.1rem 0.5rem;
    border: 2px solid darkgrey;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px grey;
    width: 10rem;
    height: 18rem;
    background: white;
}

#books-gallery a:link {
    text-decoration: none;
}

#books-gallery a:visited {
    text-decoration: none;
}

a:hover .fig-gallery {
    border-color: darkblue;
    box-shadow: 0 2px 5px 1px blue;
}

.img-gallery {
    width: 10rem;
    height: 15rem;
}

.bottom-line {
    width: 80vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

/*Content page specific styles*/

#contact-label {
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}

.contact-line {
    width: var(--contact-block-width);
    margin-bottom: 1rem;
}

#contact-block {
    width: var(--contact-block-width);
    height: 40vw;
    border-radius: 1rem;
    border: var(--contact-border);
    box-shadow: 1px 3px 5px 5px grey;
    background: var(--contact-background);
    color: white;
    font-size: 1rem;

    display: grid;

    /*@media only screen and (min-width: 480px) {*/

    /*}*/

    grid-template-columns: repeat(4, minmax(1px, 1fr));
    grid-template-rows: repeat(4, minmax(1px, 1fr)) 2fr 2fr repeat(2, minmax(1px, 1fr));
    grid-template-areas: ". . . return"
                         "name-label . email-label ."
                         "name name email email"
                         "msg-label . . ."
                         "msg msg msg msg"
                         "msg msg msg msg"
                         "send . . reset"
                         "links . . .";
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.contact-link {
    margin-right: calc(var(--contact-margin) * 0.5);
    margin-left: var(--contact-margin);
}

/*margin property works only with before*/
a.contact-link i:before {
    margin: 1vh 0;
}

a.contact-link i{
    font-size: 2rem;
    color: grey;
}

a.contact-link i:hover {
    color: white;
}

.contact-input {
    justify-self: stretch;
    align-self: stretch;
    margin: 0 var(--contact-margin);
    background: var(--contact-background);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: var(--contact-border);
}

.contact-input:focus {
    background: var(--contact-background-hovered);
}

textarea {
    resize: none;
    overflow: auto;
}

label {
    justify-self: start;
    align-self: end;
    margin: 0.5rem var(--contact-margin);
}

#return {
    grid-area: return;
    justify-self: end;
}

label[for="contact-name"] {
    grid-area: name-label;
}

#contact-name {
    grid-area: name;
}

label[for="contact-email"] {
    grid-area: email-label;
}

#contact-email {
    grid-area: email;
}

label[for="contact-message"] {
    grid-area: msg-label;
}

#contact-message {
    grid-area: msg;
}

button[type="submit"] {
    grid-area: send;
    justify-self: start;
}

button[type="reset"] {
    grid-area: reset;
    justify-self: end;

}

#contact-links {
    grid-area: links;
    justify-self: start;
    display: flex;
    justify-content: flex-start;
}

button {
    margin: 0 var(--contact-margin);
    border: var(--contact-border);
    background: transparent;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    height: 70%;
    width: 7vw;
    cursor: pointer;
}

button:hover {
    background: var(--contact-background-hovered);
}
